<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WpfApplication1.Properties.Settings>
            <setting name="WpfApplication1_Michelin_WebServiceMeteo" serializeAs="String">
                <value>http://ipv4.fiddler:55547/webservicemeteo.asmx</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceMichelin" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ipv4.fiddler:55547/ServiceMichelin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMichelin"
                contract="Michelin2.IServiceMichelin" name="BasicHttpBinding_IServiceMichelin" />
        </client>
    </system.serviceModel>
</configuration>